In [3]:
# Dependencies
import pandas as pd
import requests
import json
import requests
import gmaps
import os
import requests
from pprint import pprint

# Google developer API key
from config import gkey

In [4]:
nfl_data = pd.read_excel("Resources/Draft_Players.xlsx")
nfl_data

,Round,Pick,Team,Player,First,Last,Position,Age,Until,AP1,...,RushAtt,RushYards,RushTDs,Rec,RecYards,RecTDs,TackleSolo,DefensiveInt,Sacks,College
0,1,1,HOU,Mario Williams,Mario,Williams,DE,21.0,2016.0,1,...,0,0,0,0,0,0,317,0,97.5,North Carolina St.
1,1,2,NOR,Reggie Bush,Reggie,Bush,RB,21.0,2016.0,0,...,1286,5490,36,477,3598,18,0,0,0.0,USC
2,1,3,TEN,Vince Young,Vince,Young,QB,23.0,2011.0,0,...,282,1459,12,0,0,0,0,0,0.0,Texas
3,1,4,NYJ,DBrickashaw Ferguson,DBrickashaw,Ferguson,T,22.0,2015.0,0,...,0,0,0,0,0,0,0,0,0.0,Virginia
4,1,5,GNB,AJ Hawk,AJ,Hawk,LB,22.0,2016.0,0,...,0,0,0,0,0,0,645,9,20.0,Ohio St.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,7,251,HOU,David Anderson,David,Anderson,WR,23.0,2011.0,0,...,0,0,0,88,965,4,8,0,0.0,Colorado St.
251,7,252,NOR,Marques Colston,Marques,Colston,WR,23.0,2015.0,0,...,2,7,0,711,9759,72,1,0,0.0,Hofstra
252,7,253,GNB,Dave Tollefson,Dave,Tollefson,DE,24.0,2012.0,0,...,0,0,0,0,0,0,62,0,10.5,NW Missouri St.
253,7,254,SFO,Vickiel Vaughn,Vickiel,Vaughn,DB,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0.0,Arkansas
254,7,255,OAK,Kevin McMahan,Kevin,McMahan,WR,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0.0,Maine

In [5]:
i = 0
target_search = nfl_data["College"][i]
url1 = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input="
url2 = "&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyDHFu3w7yoyFjwb8jZzc6A0isZpHJExctA"

search_url = url1 + str(target_search) + url2

# run a request using our params dictionary
response = requests.get(search_url)

In [6]:
# print the response url, avoid doing for public github repos in order to avoid exposing key
print(response.url)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=North%20Carolina%20St.&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyDHFu3w7yoyFjwb8jZzc6A0isZpHJExctA

In [7]:
# convert response to json
college_data = response.json()

# Print the json (pretty printed)
print(json.dumps(college_data, indent=4, sort_keys=True))

{
    "candidates": [
        {
            "formatted_address": "Raleigh, NC 27695, United States",
            "geometry": {
                "location": {
                    "lat": 35.7846633,
                    "lng": -78.6820946
                },
                "viewport": {
                    "northeast": {
                        "lat": 35.80127854999999,
                        "lng": -78.66176255
                    },
                    "southwest": {
                        "lat": 35.75259755,
                        "lng": -78.69418275
                    }
                }
            },
            "name": "North Carolina State University",
            "opening_hours": {
                "open_now": false
            },
            "photos": [
                {
                    "height": 4032,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/115976847211996837305\">Michael K</a>"
                    ],
                    "photo_reference": "CmRaAAAAX62ptIfSFnfJgM25nUdJK7bVmgBZxd-90xrSr_xazMmO00Y6QJ0SUyzOJHzWLfaS68KfIPQDCEF2Hx5JvPOjYm9LZ08hBbAwCxo4jUdhuhGy1zTUZQ6USkZKdGD8eNFjEhB2N3nfBsygkMkdy3-8a1iCGhR_C96e97cnWZotqGw6-diZtw2DMw",
                    "width": 3024
                }
            ],
            "rating": 4.5
        }
    ],
    "status": "OK"
}

In [10]:
# Print the college info

print(college_data["candidates"][0]["name"])
print(college_data["candidates"][0]["formatted_address"])
print(college_data["candidates"][0]["geometry"]["location"]["lat"])
print(college_data["candidates"][0]["geometry"]["location"]["lng"])

North Carolina State University
Raleigh, NC 27695, United States
35.7846633
-78.6820946

In [11]:
# base url, params & containers

url1 = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input="
url2 = "&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyDHFu3w7yoyFjwb8jZzc6A0isZpHJExctA"

location = []
i=0

#loop through all the cities from the imported dataset .loc[i,4] .loc[i,5]
for  i in range(len(nfl_data)):
    
    #i = i + 1
    target_search = nfl_data["College"][i]
    search_url = url1 + str(target_search) + url2

    # run a request using our params dictionary
    response = requests.get(search_url).json()
    #pprint(response)
    try:
        
        #append to lists
        #athlete = nfl_data["Player"][i]
        name = response['candidates'][0]['name']
        addy = response['candidates'][0]['formatted_address']
        lat = response["candidates"][0]["geometry"]["location"]["lat"]
        lng = response["candidates"][0]["geometry"]["location"]["lng"]
        #hotel_df.append([hotel_name, address])
        #print(hotel,vicinity)
    
        location.append([name, addy, lat, lng])
        print(f" {name},{addy}, {lat}, {lng}")
        time.sleep(.2)
        
    except Exception:
        #print city name that was not found
        #location.append('NaN')
        #lat.append('NaN')
        #lon.append('NaN')
        print(f"{i}")

0
1
2
3
4
5
6

KeyboardInterrupt:

In [55]:
colleges = pd.DataFrame(location)
colleges

,0,1,2,3
0,North Carolina State University,"Raleigh, NC 27695, United States",35.784663,-78.682095
1,University of Southern California,"Los Angeles, CA 90007, United States",34.022352,-118.285117
2,Texas,"Texas, USA",31.968599,-99.901813
3,Virginia,"Virginia, USA",37.431573,-78.656894
4,The Ohio State University,"Columbus, OH 43210, United States",40.006836,-83.030622
...,...,...,...,...
249,N Colorado St,"N Colorado St, Arizona, USA",33.363059,-111.838750
250,Hofstra University,"1000 Hempstead Turnpike, Hempstead, NY 11549, ...",40.716687,-73.599396
251,Northwest Missouri State University,"800 University Dr, Maryville, MO 64468, United...",40.351985,-94.882524
252,Arkansas,"Arkansas, USA",35.201050,-91.831833
253,Maine,"Maine, USA",45.253783,-69.445469

In [64]:
colleges.columns=["name", "address", "lat", "lng"]
colleges

,name,address,lat,lng
0,North Carolina State University,"Raleigh, NC 27695, United States",35.784663,-78.682095
1,University of Southern California,"Los Angeles, CA 90007, United States",34.022352,-118.285117
2,Texas,"Texas, USA",31.968599,-99.901813
3,Virginia,"Virginia, USA",37.431573,-78.656894
4,The Ohio State University,"Columbus, OH 43210, United States",40.006836,-83.030622
...,...,...,...,...
249,N Colorado St,"N Colorado St, Arizona, USA",33.363059,-111.838750
250,Hofstra University,"1000 Hempstead Turnpike, Hempstead, NY 11549, ...",40.716687,-73.599396
251,Northwest Missouri State University,"800 University Dr, Maryville, MO 64468, United...",40.351985,-94.882524
252,Arkansas,"Arkansas, USA",35.201050,-91.831833
253,Maine,"Maine, USA",45.253783,-69.445469

In [65]:
colleges.to_json('colleges.json')